<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RedOrBlack.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://blazor.cdn.telerik.com/blazor/5.0.1/kendo-theme-default/all.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <script src="/js/web3/web3.min.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://kit.fontawesome.com/059f73df96.js" crossorigin="anonymous"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/Index.js"></script>
</body>

</html>
