@inherits ReactiveComponentBase<DoubleStreetBetViewModel>

@if (ViewModel != null)
{
    <TelerikDialog @bind-Visible="ViewModel.IsOpen" Title="Double Street Bet (5:1)">
        <DialogContent>
            <ul>@foreach (var n in ViewModel.Numbers)
                {
                <li>@n.Name</li>
                }
            </ul>
            <TelerikNumericTextBox @bind-Value="ViewModel.Amount" Decimals="12" />
            <TelerikButton OnClick="ViewModel.Bet.BindCommand<MouseEventArgs>()">Bet</TelerikButton>
        </DialogContent>
    </TelerikDialog>
}
@code {

}
