@inherits ReactiveComponentBase<StraightUpBetViewModel>

@if (ViewModel != null)
{
    <TelerikDialog @bind-Visible="ViewModel.IsOpen" Title="Straight Up Bet (35:1)">
        <DialogContent>
            <h2>@ViewModel.Value</h2>
            <TelerikNumericTextBox @bind-Value="ViewModel.Amount" Decimals="12" />
            <TelerikButton OnClick="ViewModel.Bet.BindCommand<MouseEventArgs>()">Bet</TelerikButton>
        </DialogContent>
    </TelerikDialog>
}
@code {

}
